.project {
  display: flex;
  padding: 30px;
  background-color: white;
  justify-content: center;
  margin-bottom: 60px;
}
.info {
  padding: 30px;
}
.info p {
  color: #202124;
}
.tech li {
  display: inline-block;
  padding: 8px 5px;
  background-color: #313131;
  color: #999;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin: 3px;
  opacity: 1;
  min-width: 45px;
  text-align: center;
}
.image-links {
  padding: 30px;
}
.image-links img {
  width: 600px;
  height: 400px;
  margin: 20px;
  border: 1px bold;
  border-radius: 5px;
}
.links {
  font-size: 20px;
  position: relative;
  text-align: center;
}
.links a {
  color: #fff;
  background-color: #313131;
  padding: 10px;
  cursor: pointer;
  border: 1px bold;
  border-radius: 5px;
  margin: 10px;
}
.links a:hover {
  background-color: #dbb392;
}
.links label {
  font-size: 12px;
  margin: 10px;
}
/* Responsive Styling "(min-width: 768px)" */
@media screen and (max-width: 1016px) {
  .project {
    flex-direction: column;
    text-align: center;
  }
  .image-links {
    text-align: center;
  }
  .image-links img {
    width: 220px;
    text-align: center;
    height: 220px;
    margin: auto;
    margin-bottom: 10px;
  }
  .info {
    text-align: center;
    margin: auto;
  }
  .image-links a {
    font-size: 12px;
  }
}
