.contact-section {
  box-sizing: border-box;
  padding: 10px;
  background-color: #202124;
}
h2 {
  color: #fffdfd;
}
p {
  color: #fffdfd;
}
.form {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 60%;
  align-items: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.email {
  border: 2px solid;
  border-radius: 9px;
  background: #ffffff;
  box-sizing: border-box;
  color: #202124;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
.name {
  background: #ffffff;
  box-sizing: border-box;
  color: #202124;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  padding: 10px 15px;
  outline: none;
  width: 100%;
  border: 2px solid;
  border-radius: 9px;
}
.message {
  margin-bottom: 5px;
  min-height: 150px;
  background: #ffffff;
  border: 2px solid;
  border-radius: 9px;
  box-sizing: border-box;
  color: #202124;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
.submit-button {
  background: transparent;
  color: #dbb392;
  float: right;
  font-size: 12pt;
  margin: 5px 0 0 0;
  cursor: pointer;
  outline: 0;
  padding: 10px 30px;
  border: 2px solid #dbb392;
  border-radius: 30px;
}
