/* General Styling */
.navbar {
  background-color: #202124;
  height: 130px;
}
.logo {
  text-decoration: none !important;
  color: inherit;
  color: #e4dede;
  font-size: 18px;
  display: flex;
}
.logo:hover .square {
  transform: rotate(-180deg);
}
.square {
  width: 40px;
  height: 40px;
  display: block;
  overflow: visible;
  border: 3px solid #e4dede;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
  flex-shrink: 0;
  position: relative;
  top: 10px;
  right: 20px;
}
.circle {
  width: 60px;
  height: 60px;
  border: solid #e4dede 3px;
  border-radius: 50%;
  position: relative;
  left: 30px;
}
.logo-text {
  font-weight: 700;
  position: relative;
  right: 53px;
  top: 15px;
}
