/* General Styling */
.first-section {
  padding: 30px;
  display: flex;
  margin: 0px !important;
  height: 520px;
  background-color: #202124;
}
.intro-section {
  padding: 10px;
  color: #fffdfd;
}
.Hey {
  font-size: 50px;
  font-weight: bold;
  color: #fffdfd;
}
.first-button {
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 28px;
  border: none;
  color: #fffdfd;
  margin-top: 30px;
  background: #72adbd;
  font-weight: 600;
}
.first-button:hover {
  background-color: #dbb392;
  color: white;
}
.links-section {
  margin: 10px;
  position: relative;
  height: 20%;
  right: 200px;
  display: flex;
  width: 35%;
  text-align: center;
  top: 170px;
}
.links-section a {
  margin: 10px;
  font-size: 90px;
  color: #fffdfd;
  cursor: pointer;
}
/* Responsive Styling "min-width: 768px" */
@media screen and (max-width: 768px) {
  .first-section {
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .image-links {
    justify-content: center;
  }
  .links-section {
    position: static;
    justify-content: center;
    display: flex;
    margin: auto;
  }
  .intro-section {
    text-align: center;
  }
  .intro-section button {
    margin-top: 10px;
  }
}
