/* General Styling */
.first-section {
  padding: 30px;
  display: flex;
  margin: 0px !important;
  height: 100%;
  background-color: #202124;
}
.intro-section {
  padding: 10px;
  color: #fffdfd;
}
.Hey {
  font-size: 50px;
  font-weight: bold;
  color: #fffdfd;
}
.first-button {
  padding: 12px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 28px;
  border: none;
  background: #a7bcc2;
  font-weight: 600;
}
.first-button:hover {
  background-color: #dbb392;
  color: white;
}
.image-section {
  padding: 10px;
  text-align: center;
}
.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.links-section {
  margin: 10px;
}
.links-section a {
  margin: 10px;
  font-size: 45px;
  color: #fffdfd;
  cursor: pointer;
}
/* Responsive Styling "min-width: 768px" */
@media screen and (max-width: 768px) {
  .first-section {
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .image-links {
    justify-content: center;
  }
  .intro-section {
    text-align: center;
  }
  .image-section img {
    width: 260px;
    height: 260px;
  }
}
